:root {
  --body: #edf2f4;
  --primario: #2b2d42;
  --primario1: #02011e;
  --modo-light: #fbf8ee;
  --secudario: #8d99ae;
  --red: #ef233c;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
}

body {
  background-color: var(--body);
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primario);
  height: 4rem;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

img {
  margin-left: 0.25rem;
  height: 3.5rem;
  width: auto;
  object-fit: cover;
}

h1 {
  color: white;
  flex: 1;
}

#color2 {
  color: #ffa42c;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem;
  font-size: 20px;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  max-width: 6rem;
  color: white;
  background-color: transparent;
  border-radius: 0.5rem;
  transition: 0.3s;
  font-weight: 600;
}

#car {
  background-color: var(--red);
  color: white;
  margin-left: 3vw;
  width: 3rem;
  border-radius: 0.3rem;
  transition: 0.2s;
}

nav a:hover,
#car:hover {
  cursor: pointer;
}

#lupa {
  color: var(--secudario);
  background-color: transparent;
  position: absolute;
  top: 1.3rem;
  right: 1.4rem;
}

form {
  display: flex;
  gap: 0.5rem;
}

#search {
  border-radius: 0.5rem;
  transition: all 0.5s;
}

#search:focus {
  padding: 0 1rem;
  width: 20rem;
}

#search::placeholder {
  color: gray;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
