@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

:root {
  --body: #edf2f4;
  --primario: #2b2d42;
  --primario1: #02011e;
  --naranja: #ffa42c;
  --modo-light: #fbf8ee;
  --secudario: #8d99ae;
  --red: #ef233c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
}

body {
  background-color: var(--body);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: var(--primario);
  /* background-image: linear-gradient(to right , var(--primario) , var(--primario1) 70%); */

  height: 4rem;
  width: 99vw;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

header img {
  margin-left: 0.25rem;
  height: 90%;
  width: auto;
  object-fit: cover;
}

header h1 {
  color: var(--body);
  flex: 1;
}

header h1 #color2 {
  color: var(--naranja);
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1rem;
  font-size: 20px;
}

header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  max-width: 6rem;
  color: white;
  background-color: transparent;
  border-radius: 0.5rem;
  transition: 0.3s;
  font-weight: 600;
}

header form #car {
  background-color: var(--red);
  color: white;
  margin-left: 3vw;
  width: 3rem;
  border-radius: 0.3rem;
  transition: 0.2s;
}

header nav a:hover,
header form #car:hover {
  cursor: pointer;
  transform: translateY(-6px);
}

#lupa {
  color: var(--secudario);
  background-color: transparent;
  position: absolute;
  top: 1.3rem;
  right: 1.4rem;
}

header form {
  display: flex;
  gap: 0.5rem;
}

#search {
  border-radius: 0.5rem;
  transition: all 0.5s;
}

#search:focus {
  padding: 0 1rem;
  width: 20rem;
}

#search::placeholder {
  color: gray;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

#menu-mobil {
  display: none;
}

main {
  margin: 0vh 16vw 0vh 16vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pagina1 {
  padding-top: 16rem;
  height: 100vh;
}

#hero {
  display: flex;
  margin-top: 0vh;
  box-shadow: rgb(38, 57, 77) 20px 20px 30px -10px;
  border-radius: 1rem;
  /* background-color: #dadcdd; */
  background: linear-gradient(
    135deg,
    hsla(34, 100%, 59%, 1) 52%,
    hsla(7, 100%, 47%, 1) 100%
  );
  transition: all 0.4s;
}

#hero:hover {
  box-shadow: rgb(38, 57, 77) 20px 20px 30px -10px;
}

#hero article {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  /* border: 1px solid rgb(250, 0, 0); */
  padding: 2rem;
  height: 100%;
  width: 60%;
}

#hero picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 40%;
}

#hero p {
  color: #444446;
  font-size: 1.1rem;
  font-style: oblique;
  font-weight: 00;
  width: 100%;
}

#hero p span {
  font-weight: 900;
  color: #3f4042;
}

#about p span {
  font-weight: 900;
  color: #02011e;
}

#img-hero {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 7vw;
}

#hero h2 {
  font-size: 2.8rem;
  padding: 1rem 0;
  color: whi;
  font-weight: 700;
}

#cont-bnt-hero {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  justify-content: c;
  gap: 1.5rem;
}

.boton-hero {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 1rem;
  background-color: ;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  transition: all 0.5s;
  cursor: pointer;
}

.boton-hero:hover {
  background-color: #c7c7c7;
}

#about {
  margin: 2rem 0rem;
  border-radius: 0.75rem;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

#about p {
  margin: 0 12vw;
  padding-top: 5rem;
  text-align: center;
  font-size: 1.1rem;
  font-style: oblique;
  color: #606164;
}

#pagina2 {
  padding-top: 24vh;
  height: 100vh;
}

#h2-beneficios {
  text-align: center;
  font-size: 2rem;
}

#Beneficios {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  padding: 1rem;
  height: 50vh;
  width: 100%;
}

.Beneficios-item img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}

.Beneficios-item p {
  text-align: center;
  font-size: 1.3rem;
  padding: 2rem;
  font-weight: bold;
}

#Contacto {
  display: flex;
  height: 100vh;
  padding-top: 24vh;
}

#Contacto article {
  width: 30%;
}

#Contacto picture {
  width: 70%;
}

#Contacto picture img {
  width: 100%;
}

#Contacto article h2 {
  padding: 2rem 0;
  font-size: 2rem;
}

#Contacto article p {
  font-size: 1.1rem;
  padding: 0.5rem;
}

#Contacto article p span {
  font-weight: bold;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 99vw;
  background-color: var(--primario);
}

footer a {
  color: whitesmoke;
}

@media (max-width: 900px) {
  #search {
    display: none;
  }

  #lupa {
    color: white;
    right: 5.2rem;
  }

  #menu-mobil {
    display: none;
  }
}

@media (max-width: 600px) {
  header {
    height: 4rem;
    width: 100vw;
    position: fixed;
  }

  header h1 {
    display: ;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 1px 0;
  }

  header nav a {
    display: none;
    position: absolute;
    bottom: 100vw;
  }

  header form #car {
    margin: 0;
    height: 3rem;
  }

  header nav form {
  }

  #search {
    display: none;
    width: 65vw;
  }

  #menu-mobil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    border-radius: 0.25rem;
    color: white;
    background-color: transparent;
  }

  #lupa {
    color: gray;
    right: 24vw;
    display: none;
  }

  form {
    flex-direction: row-reverse;
    margin: 0;
  }

  main {
    margin: 0 0 0 0;
  }

  #pagina1 {
    padding: 5rem 1rem;
  }
  #hero picture {
    display: none;
  }

  #hero article {
    width: 100%;
  }
  #hero article h2 {
    text-align: center;
  }

  #about {
    display: none;
  }

  #Beneficios h2 {
    display: none;
  }

  #Beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0rem;
    padding: 1rem;
    width: 100vw;
  }

  #Contacto {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 24vh;
  }

  #Contacto article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #Contacto picture {
    width: 100%;
  }
}
